<p id="notice"><%= notice %></p>

<p>
  <b>Term:</b>
  <%= @trend.term %>
</p>

<p>
  <b>Socialnetwork:</b>
  <%= @trend.socialnetwork %>
</p>

<p>
  <b>Url:</b>
  <%= @trend.url %>
</p>


<%= link_to 'Edit', edit_trend_path(@trend) %> |
<%= link_to 'Back', trends_path %>
